.contact__container {
  display: flex;
  align-items: center;
}
.contact__options {
  width: 50%;
}
.contact-form {
  width: 50%;
}
.contact__option {
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid var(--border-color);
  transition-property: border;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact__option:hover {  
  border: 1px solid var(--border-hover-color);
  box-shadow: rgb(204, 230, 255) 0px 2px 8px;
  transition: ease-in-out 0.5s;
}
.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 12px;
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: 1px solid var(--color-primary);
}
.contact__option-icon {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.contact__option h4 {
  font-size: 13px;
}
.contact__option h3 {
  font-weight: bold;
  font-size: 16px;
}
.contact__option:hover .contact__option-icon {
  color: var(--color-primary);
}
.contact {
  margin-top: 11rem;
  margin-bottom: 24px;
}
/* ===================MEDIA QUERIES (MEDIUM DEVICES) =============================*/
@media screen and (max-width: 2000px) {
.contact__container {
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
}
/* ===================MEDIA QUERIES (SMALL DEVICES) =============================*/
@media screen and (max-width: 540px) {
.contact__container {
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
}