.checkout__container {
    max-width: 600px; /* Set a maximum width for the checkout container */
    margin: 20px auto; /* Center the container */
    padding: 20px; /* Add padding for inner spacing */
    border: 1px solid var(--color-gray); /* Light border for the container */
    border-radius: 8px; /* Rounded corners */
    background-color: var(--color-white); /* White background */
    box-shadow: var(--shadow-color); /* Subtle shadow */
}
.items-list {
    padding: 20px;
}
h2 {
    text-align: center; /* Center the heading */
    margin-bottom: 20px; /* Space below the heading */
}
.checkout_button {
    color: var(--color-white);
    padding: 5px 20px;
    width: max-content;
    background: var(--color-primary);
  }

button:hover {
    background-color: var(--color-primary-variant);
    color: var(--color-white); /* White text on hover */
}

/* Responsive styles */
@media (max-width: 768px) {
    .checkout__container {
        padding: 15px; /* Reduce padding on smaller screens */
    }
}