.color-options {
    display: flex;
    flex-direction: column;
}

.dropdown-color-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    border:  1px solid var(--color-gray);
    font-size: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.dropdown-active-color-tabs {
    border:  2px solid var(--color-primary);
    transition: 0.5s all ease-in-out;
}
.dropdown-color {
    transition: ease-in-out 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 18;
    display: none;
    transition-property: height;
    position: absolute;
    top: 28px;
}
.dropdown-toggled {
    height: max-content;
    opacity: 1;
    visibility: visible;
    transition: 0.5s all ease-in-out;
    display: flex;
  }